<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="card.css">
<link rel="stylesheet" href="../static/card.css">
    <title>Document</title>
</head>
<body>
    <div class="container mt-2">
        <!--   <div class="card card-block mb-2">
            <h4 class="card-title">Card 1</h4>
            <p class="card-text">Welcom to bootstrap card styles</p>
            <a href="#" class="btn btn-primary">Submit</a>
          </div>   -->
          <div class="row">
            <div class="col-md-3 col-sm-6 item">
              <div class="card item-card card-block">
              <h4 class="card-title text-right"><i class="material-icons">settings</i></h4>
            <img src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg" alt="Photo of sunset">
                <h5 class="item-card-title mt-3 mb-3"><a href="index">ROUND 1</a></h5>
                <p class="card-text">Let's test your speed and code .</p> 
          </div>
            </div>
            <div class="col-md-3 col-sm-6 item">
              <div class="card item-card card-block">
              <h4 class="item-card-title text-right"><i class="material-icons">settings</i></h4>
            <img src="https://static.pexels.com/photos/7357/startup-photos.jpg" alt="Photo of sunset">
                <h5 class="card-title  mt-3 mb-3"><a href="index">ROUND 2</a></h5>
                <p class="card-text">How much algo building aptitude do you have?</p> 
          </div>
            </div>
            <div class="col-md-3 col-sm-6 item">
              <div class="card item-card card-block">
                <h4 class="item-card-title text-right"><i class="material-icons">settings</i></h4>
            <img src="https://static.pexels.com/photos/262550/pexels-photo-262550.jpeg" alt="Photo of sunset">
                <h5 class="card-title  mt-3 mb-3"><a href="index">ROUND 3</a></h5>
                <p class="card-text">Lets face the judge face to face.</p> 
          </div>
            </div>
            <div class="col-md-3 col-sm-6 item">
              <div class="card item-card card-block">
              <h4 class="item-card-title text-right"><i class="material-icons">settings</i></h4>
            <img src="https://static.pexels.com/photos/326424/pexels-photo-326424.jpeg" alt="Photo of sunset">
                <h5 class="card-title  mt-3 mb-3"><a href="index">ROUND 4</a></h5>
                <p class="card-text">Welcome to HR round.</p> 
          </div>
            </div>    
          </div>
          
        </div>
        
            
                                   
    
</body>
</html>
